<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Landing page</title>
    
    
</head>
<body>
    <!--Main Navigation-->
<header>
 

  <!-- Navbar -->
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
             
    <div class="navbar-brand">
      <img src="/images/Mask Group.svg" alt="NR logo">
      </div>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        
        
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
       
       
        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
              class="rounded-circle"
              height="22"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
      </form>
    </div>
  </nav>
     
  
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span  class="fs-5 d-none d-sm-inline">Main Header </span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="#" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-house"></i> <span  style="color: #fff;" class="ms-1 d-none d-sm-inline">Process</span>
                      </a>
                  </li>
                  <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-speedometer2"></i> <span style="color: #fff;" class="ms-1 d-none d-sm-inline">courses</span> </a>
                      
                  </li>
                  <li>
                      <a href="#" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-table"></i> <span style="color: #fff;" class="ms-1 d-none d-sm-inline">courses price</span></a>
                  </li>
                  <li>
                      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fs-4 bi-bootstrap"></i> <span style="color: #fff;" class="ms-1 d-none d-sm-inline">footer</span></a>
                      
                  </li>
                 
              </ul>
              
             
          </div>
      </div>
      <div class="col py-3">
             
        <div >
          <h2 >Our Process</h2>
          <a href="/articles/new" class="btn btn-success">new process</a>

         
            
            
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                 
                  <th scope="col">title</th>
                  <th scope="col">description</th>
                  <th scope="col">image</th>
                  <th scope="col">action</th>
                </tr>
              </thead>
              <% articles.forEach(article=>{%> 
              <tbody>
                <tr>
                  
                  <td><%= article.title %></td>
                  <td> <%= article.description  %> </td>
                  <td></td>
                  <td><a href="articles/<%= article.id %>" class="btn btn-primary">Read more </a>
                 <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline"><button type="submit" class="btn btn-danger">Delete</button></form> 
                <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a></td>
                </tr>
               
              </tbody>
              <% })  %> 
            </table>
           
             
      
        <footer>
    
    
<div class="copy"><p> &copy Copyright 2020 The LOGO All Rights Reserved.</p></div>
    </footer>
   
      </div>
  </div>
</div>
   
</body>
</html>